body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h3 {
    color: brown;
}

.Portfolio {
    color: orangered;
}

.Myself {
    display: flex;
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

.dream-big {
    display: flex;
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.half-width {
    width: 50%;
    padding-left: 5%;
    text-align: justify;

}

.half-width img {
    width: 80%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(orange, tomato)
}

.experinces {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 200px;
}

.developer {
    display: flex;
}

.Full-stack {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    text-align: justify;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 10px solid red;

}

.baby-developer {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    text-align: justify;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 10px solid blue;
}

.footer {
    text-align: center;
}